.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color:mediumslateblue;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 85vh;
}

.App-chatbox {
  background-color:slateblue;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: sticky;
  bottom: 0;
  padding-bottom: 10px;
}

.chatlog-body {
  position: absolute; top: 80px;
}

.xBtn {
  text-align: right;
  position: relative;
  right: 0;
  padding: 0px 0px;
  margin: 0px 0px;
}

.chat-row {
  text-align: left;
  min-width: 60vh;
}

.msg-index {
  text-align: left;
}

.signup-btn {
  max-width: 350px;
}


#chat-input {
  background-color: cornflowerblue;
  min-width: 90vh;
}


#chat-submit {
  background-color: mediumorchid;
  border-color: mediumpurple;
}

#chat-table {
  border-color: mediumslateblue;
  padding: 0px 7px;
}

#chat-table th {
  text-align: left;
}

#chat-table td {
  text-align: left;
}

#chat-table th .msgIndex {

}